[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pillow = "*"
requests = "*"
fake-useragent = "*"
customtkinter = "*"
promptlib = "*"
textblob = "*"
pypdf2 = "*"
selenium = "*"
flask = "*"
pandas = "*"
tabulate = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
geopy = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
python-telegram-bot = "*"

[dev-packages]

[requires]
python_version = "3.11.5"
